body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sfondo {
    background-image: url(/Users/mariasofia/Desktop/Esercizi/htmlcss-discord/img/jumbo.png);
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(37, 94, 233);
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
}

.navlink {
    text-decoration: none;
    color: white;
    vertical-align: -64%;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid rgb(37, 94, 233);
    border-right: 1px solid rgb(37, 94, 233);
}

.navlink:hover {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.navbutton {
    background-color: white;
    border: 0px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbutton:hover {
    color:white;
    background-color: rgb(40, 40, 40);
    transition-duration: 0.4s;
    cursor: pointer;
}

header {
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.haederlinkMac {
    background-color: white;
    border: 0px;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.haederlinkMac:hover {
    color:white;
    background-color: rgb(106, 57, 255);
    transition-duration: 0.4s;
    cursor: pointer;
}

.haederlinkBrowser {
    background-color: rgb(40, 40, 40);
    border: 0px;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.haederlinkBrowser:hover {
    color:white;
    background-color: rgb(106, 57, 255);
    transition-duration: 0.4s;
    cursor: pointer;
}

.freccia {
    vertical-align: 2.5px;
}

.conteiner {
    display: flex;
    align-items: center ;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imgsection {
}

.sectiontext {
}

h2 {
    font-size: 45px;
}

p {
    font-size: 20px;
}

.grey {
    background-color: rgb(215, 215, 215);
}

.reverse {
    flex-direction: row-reverse;
}

.final {
    background-color: rgb(215, 215, 215) ;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 30px;
}

.stelle {
    font-size: 20px;
}

.linkMac {
    background-color: rgb(106, 57, 255);
    border: 0px;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.linkMac:hover {
    color:white;
    background-color: rgb(40, 40, 40);
    transition-duration: 0.4s;
    cursor: pointer;
}

footer {
    background-color: rgb(31, 31, 31);
}

.foot {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgb(106, 57, 255);
    padding-top: 50px;
}

.list {
    list-style: none;
    color: white;
}

.last {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
}

.lastbutton {
    background-color: rgb(106, 57, 255);
    border: 0px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.lastbutton:hover {
    color:rgb(66, 66, 66);
    background-color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}

.footerimg {
    width: 27px;
    margin-right: 8px;
}

#v {
    font-size: small;
}

.lihead {
    color: rgb(106, 57, 255);
}

.bold {
    font-size: 22px;
    font-weight: 700;
}

li {
    margin-bottom: 10px;
}

.fa {
    color: white;
    text-decoration: none;
    width: 20px;
}

.social:hover {
    cursor: pointer;
}